body{
    background-color: black;
    height: 90vh;

}
#step{
    padding: 20px 0px;
    text-align: center;
    font-size: 30px;
    color:white;
    margin: 0 auto;
      
}

.steps{
    min-height: 100vh;
}

.steps .followSteps{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* .followSteps{
    background-color:#0f0c29;
} */

.container{
    /* padding: 15px; */
    color: #fff;
    margin: 0 auto;
    border-radius: 25px;
    max-width: fit-content;
}
svg {
    width: 32px;
    height: 32px;
    vertical-align:left;
    margin-right: 10px;
    /* fill: #fff; */
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
  }